<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="/style/null.css" />
    <link rel="stylesheet" href="/style/normalize.css" />

    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    <header>
      <div class="header__wrapper">
        <div class="header__main-page header_left header_entry">Главная</div>
        <div class="header_right">
            <% if(name == undefined) {%>
          <button class="header__login header_entry">Войти</button>
          <button class="header__signup header_entry">Зарегистрироваться</button>
          <% } else {%>
            <div class="header_entry">logged as: <%= name %></div>
            <button class="header__exit header_entry">Выйти</button>
            <% } %>
        </div>
      </div>
    </header>
    <main>
      <div class="modal_container">
        <div class="modal__content">
          <div class="modal__header">
            <span class="modal__close">X</span>
            <h2 class="modal_header__text"></h2>
          </div>
          <div class="modal__login">
            <form action="/auth/signin" class="signin__form modal_entries" method="POST" target="dummyframe">
              <input type="text" required pattern="^[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*@[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*$" 
              class="login__email modal__entry" name="email" id="email" placeholder="Почта">
              <input type="text" required class="login__password modal__entry" name="password" placeholder="Пароль">
              <div class="signin__error"></div>
              <button type="submit" class="login__submit">Войти</button>
            </form>
          </div>
          <div class="modal__signup">
            <form action="/auth/signup" class="signup__form modal_entries" method="POST" target="dummyframe">
              <input type="text" required  class="signup__name modal__entry" name="name" placeholder="Имя">
              <input type="text" required pattern="^[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*@[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*$" 
              class="signup__email modal__entry" name="email" placeholder="Почта">
              <input type="text" required class="signup__password modal__entry" name="password" placeholder="Пароль">
              <input type="text" required class="signup__password__2 modal__entry" placeholder="Повторите пароль">
              <div class="signup__error"></div>
              <button type="submit" class="signup__submit">Зарегистрироваться</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
  <script src="/script.js"></script>
</html>